html, body {
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Casanova Scotia', sans-serif;
    box-sizing: border-box;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

header> .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: linear-gradient(33.39deg, rgba(26, 7, 55, 0.2) 18.91%, rgba(239, 86, 30, 0.4) 101.12%); */
    backdrop-filter: blur(10px);
    background: #82202003;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo img {
    width: 68px;
    height: auto;
    padding: 12px 0px;
}
.logo>h4 {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
}
.menu>li {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 0px 24px;
}
.menu>li>a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.icon_menu {
    display: none;
}

.banner {
    height: auto;
    background-image: url(./img/bg__1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    padding-top: 192px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.contect>h3 {
    font-size: 40px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
}
.contect>h2 {
    font-size: 64px;
    font-weight: 400;
    color: #FFA902;
    margin: 0;
}
.contect>p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: #FFFFFF;
    padding: 15px 0px 70px;
}
.button {
    text-decoration: none;
    background: linear-gradient(93.26deg, rgba(255, 76, 0, 0.5) 15.6%, rgba(139, 65, 22, 0) 209.3%);
    padding: 15px 50px;
    color: #FFFFFF;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #FFFFFF;
    border-radius: 20px 0px 20px;
}

.list {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    row-gap: 15px;
}
.square {
    display: flex;
    border: 1px solid #FFFFFF;
    /* background: linear-gradient(94.16deg, rgba(22, 9, 4, 0.5) -2.47%, rgba(139, 65, 22, 0) 314.69%); */
    backdrop-filter: blur(10px);
}
.square>div {
    margin: 0;
}
.square>h4 {
    padding: 26px 29px 0px 44px;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}
.square>div>h5 {
    padding: 29px 13px 19px 0px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.square>div>p {
    font-size: 16px;
    margin: 0;
    padding-bottom: 39px;
    font-family: 'SVN-Gilroy', sans-serif;
}

.connect {
    padding: 200px 0px 283px;
}
span {
    color: #FFA902;
}
.connect img {
    width: 70px;
    height: 71px;
}
.connect>div img {
    width: 48px;
    height: 48px;
}
.connect>div {
    padding: 28px 0px 40px;
}
.connect>h3 {
    margin: 0;
    font-size: 35px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 17px 0px 4px;
}
.connect>p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'SVN-Gilroy', sans-serif;
}

.section {
    height: auto;
    background-image: url(./img/bg__2.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: invert(1);
}
.border_ab {
    display: flex;
    justify-content: center;
}
.border_ab>div {
    border: 1px solid #FFFFFF;
    background: linear-gradient(89.96deg, rgba(26, 7, 55, 0.25) 0.06%, rgba(239, 86, 30, 0.5) 134.4%);

}
.about_us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/bg_ab.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    transform: translate(27px, 21px);
}
.double_but {
    padding: 27px 0px 74px;
}
.about_us>h3 {
    margin: 0;
    font-size: 40px;
    font-weight: 400;
    /* padding: 64px 0px 28px; */
    margin-top: 64px;
}
.text {
    padding: 0px 273px 0px 244px;
}
.text>p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    padding-bottom: 24px;
    font-family: 'SVN-Gilroy', sans-serif;
}

.section__a {
    display: flex;
    justify-content: center;
    padding: 47px 0px 106px;
    column-gap: 28px;
}
.square__a {
    border: 1px solid #FFFFFF;
    /* padding: 24px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #fcd689; */
    backdrop-filter: blur(10px);
    color: #FFFFFF;
}
.square__a img {
    padding: 29px 25px;
}
.square__a>h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}
.square__a>p {
    margin: 0;
    font-size: 16px;
    padding: 10px 0px 72px;
    font-family: 'SVN-Gilroy', sans-serif;
}

.t_and_t {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    color: #FFFFFF;
    background-image: url(./img/sun.png), url(./img/bg__3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    
}


.title {
    display: flex;
    justify-content: center;
    padding-top: 95px;
}
.title>h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 400;
}

.row_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 68px;
    padding: 67px 0px 113px;

}

.border_box {
    border: 1px solid #FFFFFF90;
    backdrop-filter: blur(60px);
    /* background: linear-gradient(89.96deg, rgba(26, 7, 55, 0.25) 0.06%, rgba(239, 86, 30, 0.5) 134.4%); */
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFFFFF;
    background: linear-gradient(89.96deg, rgba(26, 7, 55, 0.25) 0.06%, rgba(239, 86, 30, 0.5) 134.4%);
    transform: translate(-16px, 17px);
    backdrop-filter: blur(60px);
}
.box img {
    /* width: 255px;
    height: 212px; */
    padding: 20px;
}
.list__a {
    padding: 0px 116px 48px 67px;
}
/* .circle_1 {
    width: 14px;
    height: 14px;
    background-color: #2F94B7;
    border-radius: 50%;
}
.circle_2 {
    width: 14px;
    height: 14px;
    background-color: #90EFF1;
    border-radius: 50%;
}
.circle_3 {
    width: 14px;
    height: 14px;
    background-color: #0D0DE5;
    border-radius: 50%;
}
.circle_4 {
    width: 14px;
    height: 14px;
    background-color: #CE924F;
    border-radius: 50%;
} */
.list__a>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 27px;
    column-gap: 20px;
}

.list__a>div>p {
    font-size: 16px;
    font-family: SVN-Gilroy, sans-serif;
    margin: 0;
}
.list__a>div>h5 {
    font-size: 30px;
    margin: 0;
    font-family: SVN-Gilroy, sans-serif;
}

.list__b {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.list__b>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    border: 1px solid #FFFFFF;
    background: linear-gradient(93.31deg, rgba(66, 4, 60, 0.5) 6.66%, rgba(252, 128, 36, 0.5) 107.35%);
    padding: 24px;
    backdrop-filter: blur(60px);
}
.list__b>div>h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}
.list__b>div>p {
    margin: 0;
    font-size: 16px;
    font-family: SVN-Gilroy;
}

.row_3 {
    /* text-align: center; */
    margin: auto;
    width: 77%;
    /* background: linear-gradient(93.31deg, rgba(66, 4, 60, 0.5) 6.66%, rgba(252, 128, 36, 0.5) 107.35%); */
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(60px);
}

.row_3>h3 {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 40px;
    margin: 0;
    padding: 46px 0px 34px;
    border-bottom: 1px solid #FFFFFF;
}
.row_3_2 {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.row_3_2>div{
    padding: 59px 0px 105px;
}
.row_3_2>div>h3 {
    font-size: 40px;
    margin: 0;
    font-weight: 400;
}
.row_3_2>div>p {
    margin: 0;
    font-family: SVN-Gilroy, sans-serif;
}
.row_3_3 {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(89.96deg, rgba(26, 7, 55, 0.25) 0.06%, rgba(239, 86, 30, 0.5) 134.4%);
    padding: 10px 0px;
    align-items: center;
}
.row_3_3>div>h5 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}
.row_3_3>div>h1 {
    margin: 0;
    font-size: 55px;
    font-weight: 400;
}
.page_icon {
    display: flex;
    align-items: center;
    column-gap: 20px;
    border: 1px solid #FFFFFF;
    padding: 16px 24px;
    background: linear-gradient(44.14deg, rgba(26, 7, 55, 0.5) 39.08%, #EF561E 109.39%);
    border-radius: 5px;
}
.page_icon img {
    width: 24px;
    height: 24px;
}


.part_back {
    background-image: url(./img/bg__4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: auto;
    position: relative;
    backdrop-filter: invert(1);
}

.title__none {
    color: #FFFFFF;
    text-align: center;
    display: none;
}
.title__none>h2 {
    margin: 0;
    font-size: 36px;
}
.title__none>p {
    margin: 0;
    font-size: 16px;
}

.square__b {
    padding-top: 222px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.phase__ {
    width: 20%;
    color: #FFFFFF;
    /* background: linear-gradient(108.73deg, rgba(22, 9, 4, 0.57) -2.98%, rgba(139, 65, 22, 0) 379.04%); */
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(20px);
}
.phase__>h4 {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    color: #FFA902;
    padding: 47px 0px 30px 40px;
}
/* .phase__>div {
    padding: 0px 0px 23px 27px;
} */
.phase__>ul>li {
    font-size: 16px;
    margin: 0;
    padding-bottom: 20px;
    font-family: SVN-Gilroy, sans-serif;
}

.square__c>h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    padding: 100px 0px 34px;
}
.square__c>div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 70px;
}

.square__d {
    text-align: center;
    padding: 212px 0px 84px;
    color: #FFFFFF;

}
.square__d>h3 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}
.square__d>h1 {
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}
.img_sun img{
    width: 270px;
    position: absolute;
    z-index: 2;
    bottom: 100px;
    right: 130px;
}

.footer {
    width: 100%;
    /* background-color: #e7a983; */
    /* background: linear-gradient(105.88deg, rgba(22, 9, 4, 0.57) -3.11%, rgba(139, 65, 22, 0) 395.15%); */
    background: #6818081a;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.footer_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer_logo img {
    width: 50px;
    height: auto;
}
.footer_logo>h4 {
    font-size: 20px;
    color: #FFFFFF;
}

.footer_menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    column-gap: 64px;
}
.footer_menu>div {
    display: flex;
    column-gap: 40px;
}
.footer_menu>div>li {
    list-style: none;
}
.footer_menu>div>li>a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}



@media (max-width: 768px) {
    header > .container {
        text-align: center;
        gap: 10px;
        justify-content: space-between;
    }

    nav {
        background-color: #82202003;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        position: relative;
        display: inline-block;
      }
      
    .menu {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        text-align: left;
        margin: 0;
        z-index: 2;
        right: 10px;
    }
    .menu>li {
        padding: 0;
    }
    .menu>li>a {
        color: #FFA902;
        padding: 12px 5px;
        text-decoration: none;
        display: block;
    }
      
    nav:hover .menu {
        display: block;
    }

    .icon_menu {
        display: block;
    }


    .banner {
        background-position: center;
    }
    .content {
        flex-direction: column;
        padding-top: 180px;
        
        row-gap: 20px;
    }

    .contect {
        margin: auto;
        text-align: center;
    }
    .contect>p {
        font-size: 13px;
    }
    .column_right {
        margin: auto;
    }
    .connect {
        text-align: center;
    }
    .content > h3 {
        font-size: 24px;
    }

    .content > h2 {
        font-size: 36px;
    }

    .section__a {
        /* flex-direction: column;
        width: 60%; */
        row-gap: 20px;
        margin: auto;
        overflow: auto;
        white-space: nowrap;
        justify-content: flex-start;
    }
    .title__none {
        display: block;
        padding: 47px 0px 30px;
    }

    .title__none>p {
        padding-top: 8px;
    }

    .title__none>h2 {
        font-size: 24px;
    }
    .title__none>p {
        font-size: 13px;
    }
    .row_2 {
        flex-direction: column;
        row-gap: 35px;
        
    }
    .about_us>h3 {
        padding-top: 30px;
    }
    .text {
        padding: 0;
    }
    .row_3 {
        width: 100%;
    }

    .row_3>div {
        flex-wrap: wrap;
        row-gap: 56px;
    }
    .row_3_2 {
        padding: 25px 0px;
    }
    .row_3_2>div {
        padding: 0;
    }

    .row_3_3 {
        padding: 42px 10px 35px;
        justify-content: left;
    }


    .square__b {
        flex-direction: column;
        padding: 16px;
        row-gap: 16px;
    }

    .phase__ {
        width: auto;
    }
    .phase__>h4 {
        justify-content: center;
    }

    .square__c>div {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .square__c>div>img {
        width: 45px;
        height: 45px;
    }
    .square__d>h3 {
        font-size: 24px;
        
    }

    .square__d>h1 {
        font-size: 36px;
    }
    .img_sun img {
        width: 113px;
        bottom: 570px;
        right: 70px;
    }
    .footer {
        flex-direction: column;
        padding: 30px 0px;
    }

    .footer_logo {
        flex-direction: column;
    }
    .footer_logo>h4 {
        margin: 0;
    }
    .footer_menu {
       border: 1px solid #FFFFFF;
       padding: 30px 50px;
       flex-direction: column;
       row-gap: 30px;

    }
    .footer_menu>div {
        display: flex;
        flex-direction: row;
        gap:150px;
        justify-content: space-between;

    }
    
}


@media (max-width: 480px) {
    .logo img {
        width: 40px;
    }

    .menu > li > a {
        font-size: 12px;
    }

    .content {
        flex-direction: column;
    }

    .content > h3 {
        font-size: 20px;
    }

    .content > h2 {
        font-size: 28px;
    }

    .contect {
        margin: auto;
    }
    .contect>h3 {
        font-size: 26px;
    }
    .contect>h2 {
        font-size: 36px;
    }
    .contect>p {
        font-size: 13px;
    }

    .button {
        font-size: 14px;
    }

    .column_right {
        margin: auto;
    }
    /* .about_us {
        margin-top: 20px;
    } */
    .about_us>h3 {
        margin: 0;
    }
    .about_us>div {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

    }
    .text>p {
        padding: 0;
    }
    .text {
        padding: 0px 14px 20px;
    }
    .list__a {
        padding: 0px 40px 29px;
    }
    .list__a>div {
        padding-bottom: 11px;
    }
    .list__a>div>p {
        font-size: 13px;
    }
    .list__a>div>h5 {
        font-size: 24px;
    }
    .list__b>div>h5 {
        font-size: 13px;
    }

    .title {
        text-align: center;
    }

    .border_ab {
        width: 90%;
        margin: auto;
    }

    .title>h2 {
        font-size: 24px;
    }

    .row_3>h3 {
        font-size: 24px;
    }

    .row_3>div {
        flex-wrap: wrap;
    }

    .square__c>h3 {
        font-size: 24px;
    }

    .square__d>h3 {
        font-size: 24px;
        
    }

    .square__d>h1 {
        font-size: 36px;
    }
}